pipeline/13-GetMetadata.json
{
	"name": "13-GetMetadata",
	"properties": {
		"activities": [
			{
				"name": "getDimCustomerMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DimCustomerMetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getDimCustomerMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getDimCustomerMetadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DF_DimCustomer",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF",
									"type": "DataFlowReference",
									"datasetParameters": {
										"DimCustomerStream": {
											"filename": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "ahazuresa01",
										"type": "LinkedServiceReference"
									},
									"folderPath": "staging"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine",
								"sourceStagingConcurrency": 1
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-20T14:26:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}